
/* ----- VARIABLES ---------------------------------------------------------- */

$neutral-color: #fff;
$black-color: #000;

$primary-color: #fa6067;
$primary-dark-color: #323232;

$purple-color: #83358b;
$purple-button: #5c4cff;
$green-button: #76bb0a;

//RESPONSIVE
$breakpoints: (
'lg': (max-width: 1199px),
'md': (max-width: 991px),
'sm': (max-width: 767px),
'xs': (max-width: 480px)
);