.sorter-button {
     background-color: #fff;
}
.sorter-button:hover, .sorter-button:focus, .sorter-button:active {
    color: #5c4cff !important;
}

.gray__paragraph {
    background-color: #747572;
    color: white;
    padding: 0 32px;
    line-height: 35px;
    border-radius: 25px;
    display: inline-block;
    width: 90%;
    float: right;
    box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
  }